html {
    font-size: 16px;
    color: #ffffff;
}
body{
    background: black;
    margin: 0 auto;
    width: 100%;
    display: flex; 
    justify-content: space-between;
    flex-direction: column;
}


.story-time ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 2rem;
}

#main-section {
    margin: 0 auto;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
}

.stories-time {  
    background: rgba(black, 0.6); 
    position: absolute;
    padding: .5rem;
    bottom:0;
    p {
    font-size: 10px;
    font-size: 1rem;
    line-height: 1.5rem;
 }
}


// .header {

//     display: flex;
//     align-content: center;
//     flex-direction: row;
//     flex-wrap: wrap;
//     width: 500px; 
//     padding-top: 200px;
// }

// .menu-title {
//     justify-content: center;
//     align-content: center;
//     align-self: center; 
// }



.article {
    width:25%;
    position: relative;
    a{
        text-decoration: none;
        color: #ffffff;
    }
}

ul li {
    height: 400px; 
    list-style: none;
    margin: 0 auto;
}

// a:link {
//     text-decoration: none; 
//     color: $basic-color; 
//     background: black; 
// }


// .stories-time {
//     display: flex;
//   
//     line-height: 1.5em;
//     position: absolute;
//     bottom: 0; 

// }

// .nyt-logo {
//     order: 0
// }


.loader{
    width: 35px;
    height: auto;
    visibility: hidden; 
    position: absolute;

}

// .transform-head {
//     img {
//     padding-top:0px;
// }
// }



// @include tablet {

//     max-width: 50%;
    

// }

// @include desktop {
//     max-width: 25%;
// }